<!DOCTYPE html>
<head>
    <title>Georgia's EJS App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
    <h1>Georgia's Page</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
    </nav>
    </header>
    <footer>
        <p><a href="www.linkedin.com/in/georgia-nwachukwu" target="_blank" rel="noopener">Follow me on LinkedIn</a>
        <p>&copy; 2024 Georgia's EJS app</p>
    </footer>
</body>